

body {
    font-family: 'Oswald', sans-serif;
}


@media all and (max-width:550px) {

    img#Scissor-magic\ logo {
        filter: invert(0%);
        filter: invert(100%);
    }

    nav#Links {
        background-color:black;
        width:200px;
        padding:0px;


    }

    nav a {
        color: white;
        text-decoration: none;
        padding-top:10px;
    }

}

@media all and (min-width:1200px) {

}